USE [master]
GO
/****** Object:  Database [QL_mang_LAN_KTX_TNUT]    Script Date: 23/04/2025 11:24:28 CH ******/
CREATE DATABASE [QL_mang_LAN_KTX_TNUT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Do_An_Tuyen_Sinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NGUYET\MSSQL\DATA\Do_An_Tuyen_Sinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Do_An_Tuyen_Sinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NGUYET\MSSQL\DATA\Do_An_Tuyen_Sinh_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_mang_LAN_KTX_TNUT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_mang_LAN_KTX_TNUT]
GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 23/04/2025 11:24:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[STT] [int] NOT NULL,
	[tensinhvien] [nvarchar](30) NULL,
	[mathietbi] [varchar](30) NULL,
	[mssv] [varchar](30) NULL,
	[maphong] [varchar](30) NULL,
	[thongtinsuco] [nvarchar](30) NULL,
	[ketqua] [nvarchar](30) NULL,
 CONSTRAINT [PK_BaoCao] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhMang]    Script Date: 23/04/2025 11:24:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhMang](
	[STT] [int] NOT NULL,
	[macauhinh] [varchar](30) NOT NULL,
	[mathietbi] [varchar](30) NULL,
	[maqtv] [varchar](30) NULL,
	[ip] [varchar](30) NULL,
	[snmask] [varchar](30) NULL,
	[gateway] [varchar](30) NULL,
	[DNS] [varchar](30) NULL,
	[ngaycauhinh] [date] NULL,
 CONSTRAINT [PK_CauHinhMang] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 23/04/2025 11:24:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maphong] [varchar](30) NOT NULL,
	[tang] [int] NULL,
	[toa] [varchar](30) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanTriVien]    Script Date: 23/04/2025 11:24:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTriVien](
	[maqtv] [varchar](30) NOT NULL,
	[tenqtv] [nvarchar](30) NULL,
	[email] [varchar](30) NULL,
	[SDT] [float] NULL,
	[chucvu] [nvarchar](30) NULL,
	[trangthaitaikhoan] [nvarchar](30) NULL,
 CONSTRAINT [PK_QuanTriVien] PRIMARY KEY CLUSTERED 
(
	[maqtv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 23/04/2025 11:24:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[mssv] [varchar](30) NOT NULL,
	[tensv] [nvarchar](30) NULL,
	[maphong] [varchar](30) NULL,
	[mathietbi] [varchar](30) NULL,
	[matk] [varchar](30) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[mssv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 23/04/2025 11:24:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[matk] [varchar](30) NOT NULL,
	[mssv] [varchar](30) NULL,
	[tendangnhap] [nvarchar](30) NULL,
	[matkhau] [varchar](30) NULL,
	[trangthaitk] [nvarchar](30) NULL,
	[ngaycauhinh] [date] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[matk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 23/04/2025 11:24:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[STT] [int] NULL,
	[mathietbi] [varchar](30) NOT NULL,
	[tenthietbi] [nvarchar](30) NULL,
	[maphong] [varchar](30) NOT NULL,
	[trangthaihoatdong] [nvarchar](30) NULL,
	[lichsutrangthai] [nvarchar](30) NULL,
 CONSTRAINT [PK_ThietBi] PRIMARY KEY CLUSTERED 
(
	[mathietbi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_maphong] FOREIGN KEY([maphong])
REFERENCES [dbo].[Phong] ([maphong])
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [FK_BaoCao_maphong]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_mathietbi] FOREIGN KEY([mathietbi])
REFERENCES [dbo].[ThietBi] ([mathietbi])
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [FK_BaoCao_mathietbi]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_mssv] FOREIGN KEY([mssv])
REFERENCES [dbo].[SinhVien] ([mssv])
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [FK_BaoCao_mssv]
GO
ALTER TABLE [dbo].[CauHinhMang]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhMang_maqtv] FOREIGN KEY([maqtv])
REFERENCES [dbo].[QuanTriVien] ([maqtv])
GO
ALTER TABLE [dbo].[CauHinhMang] CHECK CONSTRAINT [FK_CauHinhMang_maqtv]
GO
ALTER TABLE [dbo].[CauHinhMang]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhMang_mathietbi] FOREIGN KEY([mathietbi])
REFERENCES [dbo].[ThietBi] ([mathietbi])
GO
ALTER TABLE [dbo].[CauHinhMang] CHECK CONSTRAINT [FK_CauHinhMang_mathietbi]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_maphong] FOREIGN KEY([maphong])
REFERENCES [dbo].[Phong] ([maphong])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_maphong]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_mssv] FOREIGN KEY([mssv])
REFERENCES [dbo].[SinhVien] ([mssv])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_mssv]
GO
ALTER TABLE [dbo].[ThietBi]  WITH CHECK ADD  CONSTRAINT [FK_ThietBi_maphong] FOREIGN KEY([maphong])
REFERENCES [dbo].[Phong] ([maphong])
GO
ALTER TABLE [dbo].[ThietBi] CHECK CONSTRAINT [FK_ThietBi_maphong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_Phong_tang] CHECK  (([tang]>=(1)))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_Phong_tang]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_mssv] CHECK  ((len([mssv])>(0)))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_mssv]
GO
USE [master]
GO
